#f
{
width: auto;
height:100px;
border:1px solid red;	
background:darkcyan;
}
#fb
{
	position: relative;
	left:1000px;
	top:10px;
	
}
#gg
{
	position: relative;
	left:1010px;
	top:10px;
	
}
#tww
{
	position: relative;
	left:1020px;
	top:10px;
	
}


#about
{
	color:white;
	text-decoration:none;
	left:20px;
}